body {
  background-color: hsla(0, 0%, 13%, 1);
  /*background-color: rgba(34, 34, 34, 1);*/
  margin: 0;
}

.top {
  background-color: hsla(6, 77%, 50%, 1);
  /*background-color: rgba(224, 49, 29, 1);*/
  padding: 40px;
}

#logo-box {
  margin: 0 auto;
  width: 194px;
  height: 194px;
  text-align: center;
  background-color: none;
  border-width: 5px;
  border-style: solid;
  border-color: white;
}

#logo-box img {
  width: 150px;
  margin-top: 21px;
}

h1 {
  color: green;
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 2em;
}

.white-stripe {
  background-color: white;
  height: 5px;
}





/* BUTTONS ****************************************************/

#button-box {
  padding: 40px 0;
  text-align: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.button-directions img {
  width: 54px;
  margin: 8px;
}

.button-90,
.button-45,
.button {
  margin: 8px;
}

/*.button-90 .button-square {
  fill: hsla(57, 100%, 56%, 1);
}

.button-90 .button-arrow {
  fill: hsla(0, 0%, 13%, 1);
}*/

.button
.turnLeft-square,
.forward-square,
.turnRight-square,
.spinLeft-square,
.spinRight-square  {
  fill: hsla(57, 100%, 56%, 1);
}

.button
.turnLeft-arrow,
.forward-arrow,
.turnRight-arrow,
.spinLeft-arrow,
.spinRight-arrow  {
  fill: hsla(0, 0%, 13%, 1);
}




/* top row ****************************/
#turnLeft {
  display: inline-block;
}

#turnLeft svg {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#forward {
  display: inline-block;
}

#turnRight {
  display: inline-block;
}

/* middle row ****************************/
#spinLeft {
  display: inline-block;
}

#spinLeft svg {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#center {
  display: inline-block;
}

#center img {
  opacity: 0;
}

#spinRight {
  display: inline-block;
}

#spinRight svg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* bottom row ****************************/
#reverseLeft {
  display: inline-block;
}

#reverseLeft img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#reverse {
  display: inline-block;
}

#reverse svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#reverseRight {
  display: inline-block;
}

#reverseRight img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
